.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 700px;
    margin-left: 50px;
   
}

.first {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.video1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h6 {
    margin-left: 10px;
}
.video{
    display: flex;
}
